# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Dependencies and Production Builds
node_modules/
/dist
/build
/.next/
/out
/.nuxt/
/.output/

# Local Environment Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# System and IDE Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.env.development
